################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookingTime/DesignTimeBuild/.dtbcache.v2
/.vs/BookingTime/v17/.futdcache.v2
/.vs/BookingTime/v17/.suo
/.vs/BookingTime/v17/DocumentLayout.json
/BookingTime/bin/Debug/net8.0/BookingTime.dll
/BookingTime/bin/Debug/net8.0/BookingTime.exe
/BookingTime/bin/Debug/net8.0/BookingTime.pdb
/BookingTime/obj/Debug/net8.0/ref/BookingTime.dll
/BookingTime/obj/Debug/net8.0/refint/BookingTime.dll
/BookingTime/obj/Debug/net8.0/apphost.exe
/BookingTime/obj/Debug/net8.0/BookingTime.AssemblyInfo.cs
/BookingTime/obj/Debug/net8.0/BookingTime.AssemblyInfoInputs.cache
/BookingTime/obj/Debug/net8.0/BookingTime.csproj.FileListAbsolute.txt
/.vs/BookingTime/FileContentIndex/a4532b87-301c-4825-8d99-c6cf032df37b.vsidx
/.vs/BookingTime/FileContentIndex/e6bb0bbe-4784-470a-b9a4-68385262045c.vsidx
/.vs/BookingTime/FileContentIndex/72daada7-330b-4b54-bbe6-5c054ec2a852.vsidx
/.vs/ProjectEvaluation/bookingtime.metadata.v8.bin
/.vs/ProjectEvaluation/bookingtime.strings.v8.bin
/.vs/ProjectEvaluation/bookingtime.projects.v8.bin
/.vs/BookingTime/FileContentIndex/45f1fce0-9659-4f63-8773-168df78516c3.vsidx
/BookingTime/obj/Debug/net8.0/BookingTime.dll
/BookingTime/obj/Debug/net8.0/BookingTime.genruntimeconfig.cache
/BookingTime/obj/Debug/net8.0/BookingTime.pdb
*.json
/BookingTime/BookingTime.csproj.user
/.vs/BookingTime/FileContentIndex/6ea480e1-26c8-4ee6-bf03-f74b4e306b38.vsidx
/.vs/BookingTime/FileContentIndex/abf20db9-395a-415a-bc05-bd7d1fe5f319.vsidx
/.vs/BookingTime/FileContentIndex/e03d57e3-bbc8-4693-90a6-13b79ce8f958.vsidx
/.vs/BookingTime/v14/.suo
/.vs/BookingTime/v17/.futdcache.v2
/.vs/BookingTime/v17/.suo
/.vs/ProjectEvaluation/bookingtime.metadata.v7.bin
/.vs/ProjectEvaluation/bookingtime.metadata.v8.bin
/.vs/ProjectEvaluation/bookingtime.projects.v7.bin
/.vs/ProjectEvaluation/bookingtime.projects.v8.bin
/.vs/ProjectEvaluation/bookingtime.strings.v8.bin
/BookingTime/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/BookingTime/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/BookingTime/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/BookingTime/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/BookingTime/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/BookingTime/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/BookingTime/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/BookingTime/bin/Debug/net7.0/appsettings.Development.json
/BookingTime/bin/Debug/net7.0/Azure.Core.dll
/BookingTime/bin/Debug/net7.0/appsettings.json
/BookingTime/bin/Debug/net7.0/Azure.Identity.dll
/BookingTime/bin/Debug/net7.0/BookingTime.runtimeconfig.json
/BookingTime/bin/Debug/net7.0/BookingTime.dll
/BookingTime/bin/Debug/net7.0/BookingTime.deps.json
/BookingTime/bin/Debug/net7.0/BookingTime.pdb
/BookingTime/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/BookingTime/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/BookingTime/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/BookingTime/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/BookingTime/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/BookingTime/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/BookingTime/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/BookingTime/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/BookingTime/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/BookingTime/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/BookingTime/bin/Debug/net7.0/Humanizer.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/BookingTime/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/BookingTime/bin/Debug/net7.0/System.Windows.Extensions.dll
/BookingTime/bin/Debug/net7.0/System.Security.Permissions.dll
/BookingTime/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/BookingTime/bin/Debug/net7.0/System.Memory.Data.dll
/BookingTime/bin/Debug/net7.0/System.Runtime.Caching.dll
/BookingTime/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/BookingTime/bin/Debug/net7.0/System.Drawing.Common.dll
/BookingTime/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/BookingTime/bin/Debug/net7.0/System.CodeDom.dll
/BookingTime/bin/Debug/net7.0/Microsoft.OpenApi.dll
/BookingTime/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/BookingTime/bin/Debug/net7.0/Newtonsoft.Json.dll
/BookingTime/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/BookingTime/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/BookingTime/bin/Debug/net7.0/Mono.TextTemplating.dll
/BookingTime/Controllers/UserController.cs
/BookingTime/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/BookingTime/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/BookingTime/Models/BookingtimeContext.cs
/BookingTime/bin/Debug/net7.0/BookingTime.exe
/BookingTime/obj/Debug/net5.0/BookingTime.AssemblyInfoInputs.cache
/BookingTime/obj/Debug/net5.0/BookingTime.assets.cache
/BookingTime/obj/Debug/net5.0/BookingTime.csproj.AssemblyReference.cache
/BookingTime/obj/Debug/net5.0/BookingTime.GeneratedMSBuildEditorConfig.editorconfig
/BookingTime/obj/Debug/net5.0/BookingTime.csproj.FileListAbsolute.txt
/BookingTime/obj/Debug/net5.0/BookingTime.csproj.CoreCompileInputs.cache
/BookingTime/obj/Debug/net5.0/BookingTime.MvcApplicationPartsAssemblyInfo.cache
/BookingTime/obj/Debug/net7.0/ref/BookingTime.dll
/BookingTime/obj/Debug/net7.0/refint/BookingTime.dll
/BookingTime/obj/Debug/net7.0/staticwebassets/msbuild.build.BookingTime.props
/BookingTime/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.BookingTime.props
/BookingTime/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.BookingTime.props
/BookingTime/obj/Debug/net7.0/apphost.exe
/BookingTime/obj/Debug/net7.0/BookingTime.AssemblyInfoInputs.cache
/BookingTime/obj/Debug/net7.0/BookingTime.assets.cache
/BookingTime/obj/Debug/net7.0/BookingTime.csproj.BuildWithSkipAnalyzers
/BookingTime/obj/Debug/net7.0/BookingTime.csproj.CopyComplete
/BookingTime/obj/Debug/net7.0/BookingTime.csproj.FileListAbsolute.txt
/BookingTime/obj/Debug/net7.0/BookingTime.GeneratedMSBuildEditorConfig.editorconfig
/BookingTime/obj/Debug/net7.0/BookingTime.dll
/BookingTime/obj/Debug/net7.0/BookingTime.genruntimeconfig.cache
/BookingTime/obj/Debug/net7.0/BookingTime.csproj.CoreCompileInputs.cache
/BookingTime/obj/Debug/net7.0/BookingTime.MvcApplicationPartsAssemblyInfo.cache
/BookingTime/obj/Debug/net7.0/BookingTime.pdb
/BookingTime/obj/Debug/net7.0/staticwebassets.build.json
/BookingTime/obj/Debug/net8.0/BookingTime.assets.cache
/BookingTime/obj/Debug/net8.0/BookingTime.csproj.AssemblyReference.cache
/BookingTime/obj/BookingTime.csproj.nuget.dgspec.json
/BookingTime/obj/BookingTime.csproj.nuget.g.props
/BookingTime/obj/BookingTime.csproj.nuget.g.targets
/BookingTime/obj/project.assets.json
/BookingTime/obj/project.nuget.cache
/BookingTime/BookingTime.csproj
/BookingTime/BookingTime.csproj.user
