################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookingTime/DesignTimeBuild/.dtbcache.v2
/.vs/BookingTime/v17/.futdcache.v2
/.vs/BookingTime/v17/.suo
/.vs/BookingTime/v17/DocumentLayout.json
/BookingTime/bin/Debug/net8.0/BookingTime.dll
/BookingTime/bin/Debug/net8.0/BookingTime.exe
/BookingTime/bin/Debug/net8.0/BookingTime.pdb
/BookingTime/obj/Debug/net8.0/ref/BookingTime.dll
/BookingTime/obj/Debug/net8.0/refint/BookingTime.dll
/BookingTime/obj/Debug/net8.0/apphost.exe
/BookingTime/obj/Debug/net8.0/BookingTime.AssemblyInfo.cs
/BookingTime/obj/Debug/net8.0/BookingTime.AssemblyInfoInputs.cache
/BookingTime/obj/Debug/net8.0/BookingTime.csproj.FileListAbsolute.txt
/.vs/BookingTime/FileContentIndex/a4532b87-301c-4825-8d99-c6cf032df37b.vsidx
/.vs/BookingTime/FileContentIndex/e6bb0bbe-4784-470a-b9a4-68385262045c.vsidx
/.vs/BookingTime/FileContentIndex/72daada7-330b-4b54-bbe6-5c054ec2a852.vsidx
/.vs/ProjectEvaluation/bookingtime.metadata.v8.bin
/.vs/ProjectEvaluation/bookingtime.strings.v8.bin
/.vs/ProjectEvaluation/bookingtime.projects.v8.bin
/.vs/BookingTime/FileContentIndex/45f1fce0-9659-4f63-8773-168df78516c3.vsidx
/BookingTime/obj/Debug/net8.0/BookingTime.dll
/BookingTime/obj/Debug/net8.0/BookingTime.genruntimeconfig.cache
/BookingTime/obj/Debug/net8.0/BookingTime.pdb
*.json
/BookingTime/BookingTime.csproj.user
